.redslider2 ul.slides > li.video_slide .slide-content {
	width:100%;
	max-width: none;
	background:none;
}
.redslider2 ul.slides > li.video_slide .slide-content iframe{
	width: 100%;
	height: 100%;
}
.redslider2 ul.slides > li.video_slide .slide-content .videoSlide,.video_Slide{
	height: inherit;
}
.redslider2 ul.slides > li.video_slide .slide-content .video_Slide{
	padding:0;
}
.redslider2 ul.slides > li.video_slide .slide-content .slideTitle{
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0,0.8);
	width: 100%;
}
.redslider2 ul.slides > li.video_slide .slide-content .slideTitle h3{
	color: #fff;
	font-size: 25px;
	left: 19px;
	padding: 0;
	margin: 15px 20px;
}
