<?xml version="1.0" encoding="utf-8"?>
<config addfieldpath="/administrator/components/com_redproductfinder/elements">

	   <fieldset name="basic">

		<field name="form" type="redproductfinderform" default="" label="FORM" description="" />
		<field name="search_by" type="radio" default="0" label="COM_REDPRODUCTFINDER_SEARCH_BY" description="COM_REDPRODUCTFINDER_SEARCH_BY_TIP">
			<option value="0">COM_REDPRODUCTFINDER_TAG_TYPE</option>
		    <option value="1">COM_REDPRODUCTFINDER_ATTRIBUTE</option>
		</field>
		<field name="product_description" type="radio" default="short" label="COM_REDPRODUCTFINDER_PRODUCT_DESCRIPTION" description="COM_REDPRODUCTFINDER_PRODUCT_DESCRIPTION_TIP">
		    <option value="short">COM_REDPRODUCTFINDER_SHORT_PRODUCT_DESCRIPTION</option>
		    <option value="long">COM_REDPRODUCTFINDER_LONG_PRODUCT_DESCRIPTION</option>
		</field>
		<field name="search_relation" type="radio" default="or" label="COM_REDPRODUCTFINDER_SEARCH_RELATION_DESCRIPTION" description="SEARCH_RELATION_DESCRIPTION_TIP">
			<option value="or">COM_REDPRODUCTFINDER_RVP_OR</option>
		    <option value="and">COM_REDPRODUCTFINDER_RVP_AND</option>
		</field>
		<field name="show_price" type="radio" default="1" label="COM_REDPRODUCTFINDER_SHOW_PRICE_DESCRIPTION" description="SHOW_PRICE_DESCRIPTION_TIP">
			<option value="0">NO</option>
		    <option value="1">YES</option>
		</field>
		<field name="show_add_to_cart" type="radio" default="0" label="COM_REDPRODUCTFINDER_SHOW_ADD_TO_CART_DESCRIPTION" description="COM_REDPRODUCTFINDER_SHOW_ADD_TO_CART_DESCRIPTION">
			<option value="0">NO</option>
		    <option value="1">YES</option>
		</field>
	       <!--<param name="check_dependency" type="radio" default="0" label="Look for dependencies only" description="If 'Yes' the selection boxes will be populated according to products with dependencies only. If 'No' is selected  dependencies gets overrided. It will not work with Checkboxes.">
		   <option value="0">NO</option>
		    <option value="1">YES</option>
		</param>-->
			<field name="consider_all_tags" type="radio" default="0" label="Consider All Selected Tags" description="If 'Yes' then all the tags will be matched for the result. If 'No' the last matching tag will be matched for search result. To be used only when Dependency mode is On. It will not work with Checkboxes.">
		   <option value="0">NO</option>
		    <option value="1">YES</option>
		</field>
		<field name="redshop_filter_option" type="radio" default="0" label="redSHOP Filter Option" description="How your filter should work ">
		   <option value="0">Show only matching results</option>
		    <option value="1">Show matching results first</option>
		</field>
		<field name="prod_template" type="redproductfindertemplate" size="1" label="redProductfinder Result Template"
			description="Select template to display Product Result" />
			<field name="search_tag_display" type="radio" default="0" label="Search tag Display" description="If 'Yes' then all the selected tags will be display for the result.">
		   <option value="0">NO</option>
		    <option value="1">YES</option>
		</field>
		<field name="show_main_product" type="radio" default="0" label="Show Only Parent Products" description="If 'Yes' then Group Search Results by Parent product and doesn't display child products in result.">
		   <option value="0">NO</option>
		    <option value="1">YES</option>
		</field>
		<field name="search_child_product" type="radio" default="0" label="Search Only Child Product" description="If 'Yes' then Limit Search to only Child Products and not Parent Products.">
		   <option value="0">NO</option>
		    <option value="1">YES</option>
		</field>
		<field name="use_quality_score" type="radio" default="0" label="Quality Score Ordering" description="If 'Yes than' ordering of search result depends on quality score entered while crea/edit association" >
			<option value="0">NO</option>
		    <option value="1">YES</option>
		</field>
	</fieldset>

</config>
