@charset "UTF-8";

#signedusers {
 padding: 0 4px;
}

.formbox {
	clear:both;
}

 .fieldline {
	padding: 3px 0;
	clear:both;
}

 .fieldline > div {
	float:left;
	text-align:left;
}

 .fieldline > div.fieldoption {
	float:none;
	text-align:left;
}

 .fieldline > div.label {
	width:150px;
}

 div#totalprice {
	clear:both;
}

 div#submit_button, div#confirmbutton {
 clear:both;
}

 .fieldline.type-email > div > div {
 float: none;
}

 div.fieldinfo {
  padding-left: 4px;
}

.fieldline .label-field-tip {
	white-space: normal;
	font-style: italic;
}

.field-inline-error {
	font-style: italic;
	color:red;
}

.control-label .label-field-tip {
	font-size: 0.9em;
	font-style: italic;
}

.redcore fieldset .control-label label {
	float:none;
}

label.emptyfield {
	color:red;
	font-weight:bold;
}

input.emptyfield {
	border:1px solid red;
	background-color:pink;
}

div.fieldoptions.emptyfield {
	border:1px solid red;
	background-color:pink;
}

select.emptyfield {
	border:1px solid red;
	background-color:pink;
}

textarea.emptyfield {
	border:1px solid red;
	background-color:pink;
}

div#signedusers > ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.checkboxes.invalid {
	border:1px solid red;
	background-color:pink;
}

div.add-instance {
	cursor: pointer;
	margin-bottom: 3px;
}

span.remove-instance {
	cursor: pointer;
}

.subform-legend {
	cursor: pointer;
}

.subform-links {
	margin: 0px 5px;
}

.subform-links button{
	margin: 0px 2px;
}

.subform-links button{
	margin: 0px 2px;
}
